<a href="https://colab.research.google.com/github/Aneesh-Pal/Aneesh-PaL/blob/main/Aneesh_LR_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [96]:
from pyspark.sql import SparkSession
session=SparkSession.builder.appName("Regression_Gate").getOrCreate()

# Linear Regression

In [97]:
# importing dataset
data=session.read.csv("Gate_Admission3.csv",header=True,inferSchema=True)

In [98]:
data.show(5)

+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+
|Serial No|GRE Score|TOTAL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|Gender|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+
|        1|      337|        118|                4|4.5|4.5|9.65|       1|           0.92|  Male|
|        2|      324|        107|                4|4.0|4.5|8.87|       1|           0.76|Female|
|        3|        0|        104|                3|3.0|3.5| 8.0|       1|           0.72|  Male|
|        4|      322|        110|                3|3.5|2.5|8.67|       1|            0.8|  Male|
|        5|      314|        103|                2|2.0|3.0|8.21|       0|           0.65|  Male|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+
only showing top 5 rows

In [99]:
data.columns

['Serial No',
 'GRE Score',
 'TOTAL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research',
 'Chance of Admit',
 'Gender']

In [100]:
data.printSchema()

root
 |-- Serial No: integer (nullable = true)
 |-- GRE Score: integer (nullable = true)
 |-- TOTAL Score: integer (nullable = true)
 |-- University Rating: integer (nullable = true)
 |-- SOP: double (nullable = true)
 |-- LOR: double (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- Research: integer (nullable = true)
 |-- Chance of Admit: double (nullable = true)
 |-- Gender: string (nullable = true)

In [101]:
#importing required functions 
from pyspark.ml.feature import VectorAssembler,StringIndexer,OneHotEncoder

In [104]:
# Changing string datatypes of attributes using StringIndexer
str_idx=StringIndexer(inputCol='Gender',outputCol='new_Gender',handleInvalid='skip')

In [105]:
# assigning categorical variable into numerical using OnehotEncoder
onehot=OneHotEncoder(inputCol='new_Gender',outputCol='new_Gender2')

In [106]:
# assembling features using VectorAssembler
vec_assem=VectorAssembler(inputCols=['Serial No',
 'GRE Score',
 'TOTAL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research'],outputCol='allfeatures')

In [107]:
# importing model 
from pyspark.ml.regression import LinearRegression
lr=LinearRegression(featuresCol='allfeatures',labelCol='Chance of Admit')

In [110]:
from pyspark.ml import Pipeline
mypipe=Pipeline(stages=[str_idx,onehot,vec_assem,lr])

In [111]:
training,test=data.randomSplit([0.8,0.2])

In [112]:
training.show(5)

+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+
|Serial No|GRE Score|TOTAL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|Gender|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+
|        2|      324|        107|                4|4.0|4.5|8.87|       1|           0.76|Female|
|        3|        0|        104|                3|3.0|3.5| 8.0|       1|           0.72|  Male|
|        5|      314|        103|                2|2.0|3.0|8.21|       0|           0.65|  Male|
|        6|      330|        115|                5|4.5|3.0|9.34|       1|            0.9|  Male|
|        7|      321|        109|                0|3.0|4.0| 8.2|       1|           0.75|Female|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+
only showing top 5 rows

In [113]:
fitmodel=mypipe.fit(training)

In [118]:
result = fitmodel.transform(test)
result.show(20)

+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+----------+-------------+--------------------+------------------+
|Serial No|GRE Score|TOTAL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|Gender|new_Gender|  new_Gender2|         allfeatures|        prediction|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+----------+-------------+--------------------+------------------+
|        1|      337|        118|                4|4.5|4.5|9.65|       1|           0.92|  Male|       0.0|(1,[0],[1.0])|[1.0,337.0,118.0,...|0.9216101032626984|
|        4|      322|        110|                3|3.5|2.5|8.67|       1|            0.8|  Male|       0.0|(1,[0],[1.0])|[4.0,322.0,110.0,...|0.7219238209765597|
|        9|      302|        102|                1|2.0|1.5| 8.0|       0|            0.5|  Male|       0.0|(1,[0],[1.0])|[9.0,302.0,102.0,...|0.5442873176559213|
|       11|      325|        106|                3|3.5|4.0| 8.4|       1|           0.52|  Male|       0.0|(1,[0],[1.0])|[11.0,325.0,106.0...|0.6995183112669177|
|       21|      312|        107|                3|3.0|2.0| 7.9|       1|           0.64|  Male|       0.0|(1,[0],[1.0])|[21.0,312.0,107.0...|0.5883962043096596|
|       23|      328|        116|                5|5.0|5.0| 9.5|       1|           0.94|Female|       1.0|    (1,[],[])|[23.0,328.0,116.0...|0.9155746549174597|
|       25|      336|        119|                5|4.0|3.5| 9.8|       1|           0.97|Female|       1.0|    (1,[],[])|[25.0,336.0,119.0...| 0.937439629946019|
|       26|      340|        120|                5|4.5|4.5| 9.6|       1|           0.94|  Male|       0.0|(1,[0],[1.0])|[26.0,340.0,120.0...|0.9225083182533655|
|       33|      338|        118|                4|3.0|4.5| 9.4|       1|           0.91|  Male|       0.0|(1,[0],[1.0])|[33.0,338.0,118.0...|0.8740332319386073|
|       34|      340|        114|                5|4.0|4.0| 9.6|       1|            0.9|  Male|       0.0|(1,[0],[1.0])|[34.0,340.0,114.0...|0.9126381740786662|
|       36|      320|        110|                5|5.0|5.0| 9.2|       1|           0.88|  Male|       0.0|(1,[0],[1.0])|[36.0,320.0,110.0...|0.8675008466709646|
|       40|      307|        108|                2|4.0|3.5| 7.7|       0|           0.48|  Male|       0.0|(1,[0],[1.0])|[40.0,307.0,108.0...|0.5460420611372065|
|       43|      313|        107|                2|2.5|2.0| 8.5|       1|           0.53|  Male|       0.0|(1,[0],[1.0])|[43.0,313.0,107.0...|0.6765059587106641|
|       45|      326|        113|                5|4.5|4.0| 9.4|       1|           0.91|  Male|       0.0|(1,[0],[1.0])|[45.0,326.0,113.0...|0.8837698052585086|
|       46|      322|        110|                0|5.0|4.0| 9.1|       1|           0.88|  Male|       0.0|(1,[0],[1.0])|[46.0,322.0,110.0...|0.8036205917221491|
|       48|      339|        119|                5|4.5|4.0| 9.7|       0|           0.89|  Male|       0.0|(1,[0],[1.0])|[48.0,339.0,119.0...|0.9016996610688508|
|       50|      327|        111|                4|3.0|4.0| 8.4|       1|           0.78|  Male|       0.0|(1,[0],[1.0])|[50.0,327.0,111.0...|0.7063877375149865|
|       53|      334|        116|                4|4.0|3.0| 8.0|       1|           0.78|  Male|       0.0|(1,[0],[1.0])|[53.0,334.0,116.0...|0.6353225445685116|
|       60|      311|        104|                2|2.0|2.0| 8.3|       0|           0.42|  Male|       0.0|(1,[0],[1.0])|[60.0,311.0,104.0...|0.6105572270595578|
|       62|      307|        101|                3|4.0|3.0| 8.2|       0|           0.47|  Male|       0.0|(1,[0],[1.0])|[62.0,307.0,101.0...|0.6278140129063581|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+------+----------+-------------+--------------------+------------------+
only showing top 20 rows

In [115]:
from pyspark.ml.evaluation import RegressionEvaluator

In [119]:
eval_obj=RegressionEvaluator(predictionCol="prediction",labelCol="Chance of Admit",metricName="r2")

In [120]:
accuracy=eval_obj.evaluate(result)
print(accuracy)

0.8225638734917513